
<p align="center">
  <%= link_to "Create New Article", new_article_path%>
</p>
<h1 align="center">
  Article List Page
</h1>

<div align="center">
  <%= will_paginate%>
</div>
<%= render 'article',  obj:@articles%>

<div align="center">
  <%= will_paginate%>
</div>