<div class="jumbotron center">
  <h1>
    Alpha Blog
  </h1>
  <%= link_to "Sign Up Now","/signup",class:"btn btn-danger btn-lg btn-xlarge" %>
</div>


<%= link_to 'Alpha Blog' , articles_path %>  |
<%= link_to 'About', about_path %>